---
layout: default
title: Home
order: 1
---

<div class="bg_container">
  <div id="particles-js">
    <div class="main_content">
      <h1>Hi, I`m Borisov Vadim</h1>
      <div id="typed-strings">
        <p>Fullstack-developer</p>
        <p>Photographer</p>
        <p>Musician</p>
        <p>Traveller</p>
      </div>
      <span id="typed"></span>
      {% include socials.html socclass='socials_media'%}
    </div>
  </div>
</div>
{% include noscript.html %}

<!-- Particles.js -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
<script>
  particlesJS.load('particles-js', '/assets/particlesjs-config.json', function(){
    console.log('callback - particles.js config loaded');
  });
</script>

<!-- Typed.js -->
<script src="assets/typed.js/typed.min.js"></script>
<script>
  var typed = new Typed('#typed', {
    stringsElement: '#typed-strings',
    backSpeed: 40,
    typeSpeed: 40,
    loop: true
  });
</script>




