/*@import url('https://fonts.googleapis.com/css?family=Cinzel:700');*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');


.sidebar{
  background: linear-gradient(to left top, #231B24, #000);   
  z-index:1;
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.sidebar-about h1{
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
}

.socials{
  width: 100%;
}

ul.socials_links a{
  color: #fff;
}

ul.socials_links{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

ul.socials_links li a{
  width: 2.8rem;
  height: 2.8rem;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

ul.socials_links li a:hover{
  text-decoration: none;
  
}

ul.socials_links li a .fab{
  position: relative;
  transition: .5s;
}

ul.socials_links li a:hover .fab{
  transform: rotateY(360deg);
}

ul.socials_links li:nth-child(1) a:hover{
  background: #6e5494;
}

ul.socials_links li:nth-child(2) a:hover{
  background: #dd4b39;
}

ul.socials_links li:nth-child(3) a:hover{
  background: #3b5999;
}

ul.socials_links li a:hover .fa-facebook-square{
  color: #fff;
}

ul.socials_links li:nth-child(4) a:hover{
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.content{
  padding-top: 0;
  padding-bottom: 0;
}
.container{
  padding-left: 0;
  padding-right: 0;
}

.page, .post_inner{
  padding-top: 4rem;
  padding-left:  5rem;
  padding-right: 5rem;
}

.related{
  padding: 1rem 5rem 2rem 5rem;
}

.bg_container{
  overflow: hidden;
  height: 100vh;
}

.bg_container h1{
  border: 2px solid #fff;
  padding: 1rem 2rem;
  text-align: center;
}
.bg_container h1, .bg_container p{
  z-index: 2;
  color: #fff;
}

#particles-js{
  background: #1E1B24;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main_content{
  position: absolute;
}

@media (min-width: 64em){
  .content {
    margin-left: 18rem;
    margin-right: 0;
  }
}

@media (min-width: 48em){
  .content {
    max-width: 100%;
    margin-left: 18rem;
    margin-right: 0;
  }
  .sidebar-sticky{
    position: static;
  }
  .socials_media{
    display: none;
  }
}

@media (max-width: 48em){
  .sidebar-sticky{
    width: 100%;
    height: 100%;
  }
  .sidebar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 auto;
  }
  .socials{
    display: none;
  }
  .sidebar{
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    min-height: 65px;
    padding: 0;
  }
  .page{
    padding-top: 15vh;
  }
  .content{
    padding-top: 15vh;
  }
}

@media (max-width: 26rem){
  .bg_container h1{
    padding: 1rem;
    font-size: 1.5rem;
  }
}
