html {
  line-height: 1.7; }

a:visited, a:focus {
  text-decoration: none; }

img, pre {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); }

.img_description {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 0.9em;
  color: #989898;
  font-style: italic; }

.medium_photo {
  display: block;
  width: 50%;
  min-width: 250px;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 1em; }

.through {
  text-decoration: line-through; }

dl dt {
  margin-top: 1em;
  text-decoration: underline; }
dl li {
  line-height: 1.4;
  list-style-type: square; }

.small_desc {
  font-size: 0.9em;
  color: #989898;
  font-style: italic;
  float: right;
  margin-top: -1em; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

.sidebar {
  background: #231B24;
  z-index: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 16rem; }
  .sidebar nav a:hover {
    text-decoration: none;
    color: #dfdfdf; }

.socials {
  width: 100%;
  background: #134E5E;
  background: -webkit-linear-gradient(to left, #71B280, #134E5E);
  background: linear-gradient(to left, #71B280, #134E5E);
  padding: 1rem 1rem 0;
  margin-bottom: 3rem; }

ul.socials_links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0; }
  ul.socials_links a {
    color: #fff; }
  ul.socials_links li a {
    width: 2rem;
    height: 2rem;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; }
    ul.socials_links li a:hover {
      text-decoration: none; }
    ul.socials_links li a .fab {
      position: relative;
      transition: 0.5s;
      font-size: 1rem; }
    ul.socials_links li a:hover .fab {
      transform: rotateY(360deg); }
  ul.socials_links li:nth-child(1) a:hover {
    background: #6e5494; }
  ul.socials_links li:nth-child(2) a:hover {
    background: #3b5999; }
  ul.socials_links li:nth-child(3) a:hover {
    background: #45668e; }
  ul.socials_links li a:hover .fa-facebook-square {
    color: #fff; }
  ul.socials_links li:nth-child(4) a:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); }

.content {
  padding-top: 0;
  padding-bottom: 0; }

.container {
  padding-left: 0;
  padding-right: 0; }

.page, .post_inner {
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 5rem; }

.related {
  padding: 1rem 5rem 2rem 5rem; }

.bg_container {
  overflow: hidden;
  height: 100vh; }
  .bg_container h1 {
    border: 2px solid #fff;
    padding: 1rem 2rem;
    text-align: center;
    z-index: 2;
    color: #fff; }
  .bg_container p {
    z-index: 2;
    color: #fff; }

#particles-js {
  background: #134E5E;
  background: -webkit-linear-gradient(to left, #71B280, #134E5E);
  background: linear-gradient(to left, #71B280, #134E5E);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.main_content {
  position: absolute; }
  .main_content span {
    color: #fff; }

h2#categories {
  margin-top: 0;
  text-align: right;
  font-size: 1rem; }
  h2#categories a {
    color: #687793; }
    h2#categories a:link {
      text-decoration: none; }
    h2#categories a:hover {
      text-decoration: underline; }

.toggle-content {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out; }
  .toggle-content a {
    font-weight: normal;
    text-decoration: none; }
  .toggle-content h3.category_name_link {
    text-transform: capitalize; }
    .toggle-content h3.category_name_link a {
      color: #000; }
      .toggle-content h3.category_name_link a:hover {
        font-weight: bold; }
  .toggle-content li:hover {
    margin-left: -0.2rem; }
  .toggle-content li span {
    margin-left: 0.6rem;
    font-size: 0.8rem;
    opacity: 0.7; }

.toggle-content.is-visible {
  display: block;
  height: auto; }

.posts {
  margin-top: 1rem; }

a#back_to_top {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 20px;
  color: #39b498;
  opacity: 0.7;
  transition: all 0.5s; }
  a#back_to_top:hover {
    color: #1fabc9;
    opacity: 1; }
  a#back_to_top .fa-arrow-circle-up {
    font-size: 1.5rem; }

.works_container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: flex-start;
  padding: 2rem 0.5rem 2rem 3rem; }
  .works_container a {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 0 1 17vw;
    min-width: 200px;
    min-height: 200px;
    height: 16vw;
    padding: 0;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #000;
    margin: 1em;
    margin-left: 0em; }
    .works_container a:hover {
      text-decoration: none; }
      .works_container a:hover .work_bg {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%); }
    .works_container a .work_bg {
      width: 100%;
      height: 100%;
      -webkit-filter: grayscale(60%);
      filter: grayscale(60%);
      transition: all 0.5s ease-in-out; }
    .works_container a h4 {
      margin-top: 0; }

.work_outer {
  text-align: center; }
  .work_outer .title_outer {
    background: #f4f4f4; }
    .work_outer .title_outer .work_title {
      margin-top: 0; }
    .work_outer .title_outer .work_link {
      display: inline-block;
      margin: 0.5em 1em;
      padding: 0.5em 1.5em;
      font-size: 0.8em;
      background: #3788e3;
      color: #fff;
      border-radius: 5px; }
      .work_outer .title_outer .work_link:hover {
        text-decoration: none;
        background: #1c6ecb;
        cursor: pointer; }
  .work_outer img {
    display: block;
    margin: 2em auto; }

@media (min-width: 64em) {
  .content {
    margin-left: 18rem;
    margin-right: 0; }

  .page, .post_inner {
    padding-right: 8rem; } }
@media (min-width: 48.05em) {
  .content {
    max-width: 100%;
    margin-left: 16rem;
    margin-right: 0; }

  .sidebar-sticky {
    position: static;
    padding: 2rem 2rem 0; }

  .socials_media {
    display: none; }

  .title_outer {
    padding: 2em 0; } }
@media (max-width: 56em) {
  .works_container {
    justify-content: flex-start;
    padding-left: 2rem; }
    .works_container a {
      width: 200px;
      height: 200px; } }
@media (max-width: 48em) {
  .container {
    max-width: 100%; }

  .sidebar-sticky {
    width: 100%;
    height: 100%;
    left: 0rem;
    right: 0rem;
    bottom: 0rem; }

  .sidebar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0 auto; }

  .socials {
    display: none; }

  .sidebar {
    padding-bottom: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 15vh;
    min-height: 65px;
    padding: 0;
    background: rgba(35, 27, 36, 0.9); }

  .page, .post_inner {
    padding-top: 25vh;
    padding-right: 3rem;
    padding-left: 3rem; }

  .socials_media {
    margin-top: 2rem; }

  .main_content {
    margin-top: 5vh; }

  .works_container {
    padding-top: 15vh;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 0; }
    .works_container a h4 {
      margin-bottom: 0.8em; }

  .work_outer .title_outer {
    padding: 15vh 0 1em; }
    .work_outer .title_outer .work_title {
      margin-top: 1em; } }
@media (max-width: 32em) {
  .page, .post_inner, .related {
    padding-left: 2rem;
    padding-right: 4rem; }

  .work_outer img {
    max-width: 90%;
    height: auto; }

  .works_container a .work_bg {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); } }
@media (max-width: 26em) {
  .bg_container h1 {
    padding: 1rem;
    font-size: 1.5rem; }

  .main_content {
    padding: 0 1rem 0; } }
