@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.odd {
  background-color: #ffcd94;
}

.even {
  background-color: #e6e6fa;
}

section {
  padding: 7em 5em 3em;
}

@media screen and (max-width: 550px) {
  section {
    padding: 5em 3em 5em;
  }
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

body header#header {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 300px;
  padding: 0 3vw;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

@media screen and (max-width: 550px) {
  body header#header {
    padding-left: 0;
  }
}

body header#header #logo {
  display: flex;
  align-items: center;
  flex-basis: 30%;
}

body header#header #logo #header-img {
  max-width: 110px;
  height: auto;
}

body header#header #logo h3 {
  font-size: 1.5rem;
}

@media screen and (max-width: 550px) {
  body header#header #logo h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 490px) {
  body header#header #logo h3 {
    display: none;
  }
}

body header#header #nav-bar {
  flex: 1;
}

body header#header #nav-bar ul {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 490px) {
  body header#header #nav-bar ul {
    justify-content: space-around;
  }
}

body header#header #nav-bar ul a.nav-link {
  margin-left: 5em;
  color: #333;
}

body header#header #nav-bar ul a.nav-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  body header#header #nav-bar ul a.nav-link {
    font-size: 0.9em;
    margin-left: 3em;
  }
}

@media screen and (max-width: 490px) {
  body header#header #nav-bar ul a.nav-link {
    margin-left: 0;
  }
}

@media screen and (max-width: 490px) {
  body header#header #nav-bar ul li:first-child a {
    margin-left: 0;
  }
}

body section#tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 500px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background: url("https://images.unsplash.com/photo-1459541708374-6fe9eea39a29?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=ed5e026c9a3528dbf2a2ee5179577549") no-repeat center bottom;
  background-size: cover;
  position: relative;
  z-index: -2;
  color: #fff;
}

body section#tagline h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

body section#benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body section#benefits .card {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2em 0;
}

body section#benefits .card .icon_box {
  flex-basis: 20%;
  text-align: right;
  margin-right: 3em;
}

body section#benefits .card .icon_box .fas, body section#benefits .card .icon_box .far {
  font-size: 3rem;
  color: #D2691E;
}

body section#benefits .card .benefits-text {
  flex-basis: 40%;
}

@media screen and (max-width: 550px) {
  body section#benefits .card .benefits-text {
    flex-basis: 80%;
  }
}

body section#benefits .card .benefits-text h4 {
  font-size: 1.5rem;
}

body section#showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body section#showcase h3 {
  font-size: 2rem;
  margin-bottom: 2em;
}

body section#showcase .responsive {
  position: relative;
  z-index: 1;
  width: 80%;
  min-width: 250px;
  min-height: calc(250px/16*9);
  height: 0;
  padding-bottom: 56.25%;
}

body section#showcase .responsive #video {
  position: absolute;
  width: 100%;
  height: 100%;
}

body section#pricing {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 960px) {
  body section#pricing {
    flex-direction: column;
  }
}

body section#pricing .price-card {
  flex-basis: 30%;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background: white;
}

@media screen and (max-width: 960px) {
  body section#pricing .price-card {
    margin-bottom: 3em;
  }
}

body section#pricing .price-card .title-outer {
  background: #ffdab9;
  padding: 1em 1em;
}

body section#pricing .price-card .title-outer h3 {
  font-size: 1.5rem;
}

body section#pricing .price-card h4 {
  font-size: 1.35rem;
  padding: 1em 0;
  color: #800000;
}

body section#pricing .price-card p {
  padding: 0 3em 2em;
}

@media screen and (max-width: 960px) {
  body section#pricing .price-card p {
    padding-left: 7em;
    padding-right: 7em;
  }
}

@media screen and (max-width: 700px) {
  body section#pricing .price-card p {
    padding-left: 2em;
    padding-right: 2em;
  }
}

body section#pricing .price-card a {
  display: inline-block;
  width: 40%;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 1em;
  background: #ffbf00;
  color: black;
  min-width: 120px;
}

@media screen and (max-width: 960px) {
  body section#pricing .price-card a {
    width: 25%;
  }
}

body section#pricing .price-card a:hover {
  background-color: #cc9900;
}

body section#order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body section#order h3 {
  font-size: 2rem;
  margin-bottom: 1.5em;
}

body section#order form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 250px;
}

body section#order form input[type="email"] {
  width: 100%;
  font-size: 1rem;
  padding: 1em 0;
  text-align: center;
  margin-bottom: 2em;
  box-shadow: none;
}

@media screen and (max-width: 900px) {
  body section#order form input[type="email"] {
    padding: 1.5em 0;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 550px) {
  body section#order form input[type="email"] {
    font-size: 0.8rem;
  }
}

body section#order form input[type="submit"] {
  width: 50%;
  border: none;
  background: #ffbf00;
  color: black;
  padding: 1em 0;
  text-align: center;
  font-size: 1rem;
  -webkit-appearance: none;
}

body section#order form input[type="submit"]:hover {
  background-color: #cc9900;
  cursor: pointer;
}

body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 0.5em;
  background: #b3cde0;
}

body footer h5 {
  margin-bottom: 0.2em;
}
/*# sourceMappingURL=main.css.map */