/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	/*----teasers----*/
	section.teasers .row > div:first-child .teaser_icon_wrap{
		display: block;
	}
	section.teasers .row > div:first-child .teaser_desc span{
		line-height: 12px;
	}
	section.teasers .row > div:first-child .teaser_desc strong{
		line-height: 45px;
	}
	section.teasers .row > div {
		text-align: center;
	}
	section.teasers .row> div:not(:nth-child(1)) .teaser_desc{
		position: relative;
		top: -13px;
		left: -44x;
	}
	body section.teasers .row > div:last-child .teaser_desc{
		top: -18px;
	}
	/*------profy-------*/
	section.profy .profy_item .profy_item_left i{
		margin-left: -18px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	/*-------teasers-------*/
	section.teasers .row > div .teaser_wrap .teaser_icon_wrap{
		display: inline-block;
	}
	section.teasers .row > div .teaser_wrap{
		text-align: left;
	}
	section.teasers .row > div:first-child .teaser_wrap{
		position: relative;
		right:12px;
	}
	section.teasers .row> div:not(:nth-child(1)) .teaser_wrap .teaser_desc{
		position: relative;
		top: 0px;
		left: -44x;
	}
	/*---------profy--------*/
	section.profy .profy_item{
		text-align: center;
	}
	section.profy .profy_item .profy_item_right{
		margin-top: -65px;
		margin-bottom: 35px;
	}
	section.profy .profy_item .profy_item_left i{
		margin-left: 0;
	}
	/*-------form--------*/
	form{
		margin-top: 50px;
	}
	section.profy{
		padding-bottom: 50px;
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo{
		text-align: center;
		margin-bottom: 15px;
	}
	header .top_phone, header .top_header h1, .top_header h2{
		text-align: center;
	}

	header .top_phone .wrapper .tab_item{
		font-size: 30px;
	}
	header .top_header{
		margin-top: 50px;
	}
	section.teasers .row > div .teaser_wrap{
		text-align: center;
	}
	/*-------slider---------*/
	.owl-nav .owl-prev, .owl-nav .owl-next{
		top: 15px;
	}
	/*----contacts------*/
	section.s_contacts .top_line_contacts .tab_content .tab_desc{
		margin-left: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	/*------header-------*/
	header .top_header{
		margin-top: 30px;
	}
	header .top_header h2{
		font-size: 28px;
		line-height: 30px;
	}
	header .tabs_header .tabs .tab{
		font-size: 14px;
		padding: 15px 6px;
	}
	header h1{
		font-size: 58px;
	}
	header .tabs_header .tab_content .head_button_wrap{
		text-align: center;
		margin-right: 0;
	}
	section.teasers .row > div .teaser_wrap{
		text-align: left;
		margin-left: 20px;
	}
	/*---------profy-----------*/
	section.profy h2{
		font-size: 44px;
	}
	/*--------contacts---------*/
	section.s_contacts .top_line_contacts .tabs span{
		padding: 15px 33px;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}