<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>
    
    {% if page.url == "/" %} 
      <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
      <script>
        particlesJS.load('particles-js', '/assets/particlesjs-config.json', function(){
          console.log('callback - particles.js config loaded');
        });
      </script>
    {% endif %}
  </body>
</html>
