---
layout: default
---
<div class="work_outer">
  <div class="title_outer">
    <h1 class="page-title work_title">{{ page.title }}</h1>
    <a href="{{page.source}}" class="work_link" target="_blank">source</a>
    <a href="{{page.demo}}" class="work_link" target="_blank">demo</a>
  </div>
  <img src="{{site.baseurl}}assets/img/weather.png" alt="" height = 300px>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam repellat recusandae debitis animi hic unde amet molestiae optio, nobis asperiores rem reprehenderit, possimus ad iste.</p>
  {{content}}
</div>
